@import 'ui/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 15px;
    margin-top: 10dvh;
    width: 50vw;

    @media (max-width: $breakpoint-l) {
        width: 95vw;
      }


    .controls {
        display: flex;
        justify-content: space-between;

        @media (max-width: 500px) {
            margin: 15px;
          }
    }
}
