.select {
    display: flex;
    flex-direction: column;

    select {
        border: unset;
        background-color: transparent;
        padding: 15px;
        padding-bottom: 0;
        outline: 0;
        appearance: none;
    }
}
