.select {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

    select {
        border: unset;
        background-color: transparent;
        outline: 0;
        
        option {
            padding: 5px;
        }
    }
}
