.select {
    display: flex;
    flex-direction: column;

    select {
        border: unset;
        background-color: transparent;
        outline: 0;
        appearance: none;
        option {
            padding: 5px;
        }
    }
}
