.match_card {
    display: flex;
    gap: 15px;
    margin: 0 auto;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--bg-dark);
    color: var(--light);
    width: 100%;
    justify-content: center;

    .currentScore {
        font-size: calc(15px + 0.390625vw);
    }
}




