.match_card {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;

    img {
        width: 50px;
    }
    span {
        font-size: 1.5rem;
    }
}




